$white: #fff;
$black: #000;
$red: #DD0000;
$border-color: #DCDCDC;
$box-shadow-color: #CCCCCC;
$font-color: #3C5087;
$font-important-color: #f09614;
$font-hover-color: #000069;
$background-color: #3C5087;
$button-border-color: #323C73;