@mixin fixed-center() {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@mixin mobile {
  @media screen and (max-width: 414px) {
    @content;
  }
}

@mixin small-tablet {
  @media screen and (min-width: 415px) and (max-width: 768px) {
    @content;
  }
}

@mixin tablet {
  @media screen and (min-width: 769px) and (max-width: 1024px) {
    @content;
  }
}

@mixin small-descktop {
  @media screen and (min-width: 1025px) and (max-width: 1366px) {
    @content;
  }
}

@mixin descktop {
  @media screen and (min-width: 1367px) and (max-width: 1440px) {
    @content;
  }
}

@mixin wide-descktop {
  @media screen and (min-width: 1440px) {
    @content;
  }
}
