.HistoryPage__table {
  margin-top: 1rem;
  border-collapse: collapse;
  margin-bottom: 1rem;
}

.HistoryPage__table > tr > th {
  padding: .5rem;
  text-align: left;
  border: 1px solid $border-color;

  @include mobile {
    padding: .3rem;

    &.HistoryPage__descriptionHeader {
      display: none;
    }
  }

  &.HistoryPage__amountHeader {
    text-align: right;
  }
}

.HistoryPage__table > tr > td {
  padding: .5rem;
  text-align: left;
  border-right: 1px solid $border-color;

  &.HistoryRow__amount {
    text-align: right;
  }

  @include mobile {
    padding: .5rem;
  }
}

.HistoryRow__amount {
  color: $red;
  font-size: 1.6rem;
  font-weight: bold;
}
